<template lang="pug">
  client-only(
    v-if="loaded"
  )
    lord-icon.ct-lord-icon(
      :src="src"
      :trigger="trigger"
      :target="target"
      :colors="colors"
      :speed="speed"
      :style="style"
      :stroke="stroke"
    )
</template>

<script>
export default {
  props: {
    primary: {
      default: '',
      type: String
    },
    secondary: {
      default: '',
      type: String
    },
    size: {
      default: 28,
      type: Number
    },
    speed: {
      default: 1,
      type: Number
    },
    src: {
      required: true,
      type: String
    },
    target: {
      default: '',
      type: String
    },
    trigger: {
      default: 'hover',
      type: String
    },
    stroke: {
      default: 50,
      type: Number
    }
  },

  data () {
    return {
      loaded: false
    }
  },

  computed: {
    colors () {
      const primary = this.primary || this.$vuetify.theme?.currentTheme['lord-icon-primary']
      const secondary = this.secondary || this.$vuetify.theme?.currentTheme['lord-icon-secondary']
      return `primary:${primary},secondary:${secondary}`
    },
    style () {
      return `width:${this.size}px;height:${this.size}px`
    }
  },

  async mounted () {
    const url = 'https://cdn.courseticket.com/s/js/lord-icon-2.1.0.js'
    await this.loadScript(url)
    this.loaded = true
  },

  methods: {
    loadScript (src) {
      return new Promise((resolve, reject) => {
        let shouldAppend = false
        let el = document.querySelector('script[src="' + src + '"]')
        if (!el) {
          el = document.createElement('script')
          el.type = 'text/javascript'
          el.async = true
          el.src = src
          shouldAppend = true
        } else if (el.hasAttribute('data-loaded')) {
          resolve(el)
          return
        }
        el.addEventListener('error', reject)
        el.addEventListener('abort', reject)
        el.addEventListener('load', () => {
          el.setAttribute('data-loaded', true)
          resolve(el)
        })
        if (shouldAppend) {
          document.head.appendChild(el)
        }
      })
    },
  }
}
</script>
